.main{
    background: url("assets/ramadan-background-mosque-illustration-mosque-background-ramadan-mubarak-ramadan-wallpaper_947865-182.avif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    object-fit: contain;
   
}
.heading{
    position: relative;
    top: 4rem;
}
.count-down-container{
    position: relative;
    top: 11rem;
}
.count-down-container>.col-12{

opacity: 0.7;
background: #000;
border: 1px solid goldenrod;
border-radius: 12px;
}#ar{
    position: relative;
    top:-29rem;
    opacity: 0.7;
    background: #000;
    border: 1px solid goldenrod;
    border-radius: 12px;
   

}#cr{
    position: relative;
    top: 7rem;
    opacity: 0.7;
background: #000;
border: 1px solid goldenrod;
border-radius: 12px;
color: #000;
color: goldenrod;

}
.another-container{
   
    width: 100%;
   position: absolute;
   top: 54.5rem;
   
}