body{
    background: url("assets/ramadan-background-mosque-illustration-mosque-background-ramadan-mubarak-ramadan-wallpaper_947865-182.avif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}